*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: "Muli", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: #F7FAFF;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}
.main{
    width: 100%;
    padding-top: 0px !important;
    transition: .5s;
    position: relative;
    min-height: 100vh;
    padding-bottom: 160px;
    box-sizing: border-box;
}
.sidebar{

    height: 100%;
    grid-area: "sidebar / sidebar";
}
.logo{
    margin: 30px;
    background: #fff;
    padding: 33px 30px;
    border-radius: 7px;
    justify-content: space-between;
    display: flex;
}
.menu{
    box-sizing: border-box;
    list-style: none;
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    text-align: left;
    box-sizing: border-box;
    padding: 0%;
}
.dashboard{
    font-size: 15px;
    font-weight: bold;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
}
.sublist{
   padding:0px 0px 0px 70px;
   margin: 0;
   
   list-style-type: none;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
   box-sizing: border-box;
}
.pages{
    font-size: 15px;
    font-weight: 400;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
    font-weight: bold;
}
.applications{
    font-size: 15px;
    font-weight: 400;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
    font-weight: bold;  
}
.UI{
    font-size: 15px;
    font-weight: 400;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
    font-weight: bold;
}
.widgets{
    font-size: 15px;
    font-weight: 400;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
    font-weight: bold;
}
.forms{
    font-size: 15px;
    font-weight: 400;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
    font-weight: bold;
}
.charts{
    font-size: 15px;
    font-weight: 400;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    background: #fff;
    transition: .3s;
    position: relative;
    z-index: 0;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    position: relative;
    background: transparent;
    font-weight: bold;
}
.header{
    padding-right: 15px;
    width: 100vh;
    box-sizing: border-box;
    display: grid;
   background-color: #fff;
   position: fixed;
   top: 0;
   z-index: 99;
   padding: 30px !important;
   position: relative;
   margin: 27px 30px;
   border-radius: 7px;
   align-items: center;
   justify-content: space-between;
   margin-top: 27px;
   margin-bottom: 20px;
   margin-right: 30px;
   margin-left: 30px;
}
.search{
    width: 480px;
    height: 60px;
    position: relative;
    box-sizing: border-box;
    font-size: 14px;
}
input{
    color: #000;
    font-size: 18px;
    height: 60px;
    width: 100%;
    padding-left: 82px;
    border: 0;
    padding-right: 15px;
    border-bottom: 1px solid #F4F7FC;
    background: #F7FAFF;
    border-radius: 30px;
    font-family: inherit;
    font-weight: 500;
    text-rendering: auto;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
    appearance: auto;
    cursor: text;
    margin: 0em;
    border-style: inset;
}
button{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background: transparent;
    font-size: 12px;
    border: 0;
    padding-left: 40px;
    padding-right: 11px;
}
.msg{
    margin-right: 50px;
    margin-left: 40px;
}
.avatar{

    position: relative;
    max-width: 77px;
    max-height: 77px;
    border-radius: 50%;
    border: 2px solid #A5ADC6;
    cursor: pointer;
}
.profile{
    align-items: center!important;
    justify-content: space-between!important;
    display: flex!important;
    box-sizing: border-box;

}
.content{
    min-height: 68vh;
    transition: .5s;
    margin: 30px;
}
.box{
    flex: 0 0 100%;
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
}
.Dblue{
    background-color: #fff;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px 41px 30px;
    position: relative;
    background: #3B76EF;
    
}
.TI{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
    font-family: "Muli", sans-serif;
    line-height: 1.2;
}
.D1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;
}
.S1{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Muli", sans-serif;
    font-weight: 300;
}
.Lblue{
    background: #63C7FF;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
}
.TE{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
}
.D2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;  
}
.S2{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.purple{
    background: #A66DD4;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
}
.CH{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
}
.D3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;  
}
.S3{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.green{
    background: #6DD4B1;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
}
.NM{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
}
.D4{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;   
}
.S4{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.left{
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    height: calc(100% - 30px);
    position: relative;
    padding: 30px;
    background-color: rgba(247, 250, 255, 0.7);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
.text{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    box-sizing: border-box;
}
.AP{
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4D4F5C;
    line-height: 1.2;
    display: flex;
    flex-direction: column;
}
.A{
    font-size: 12px;
    font-weight: 400;
    color: #A3A0FB;
    display: block;
    margin-top: 6px;
    display: flex;
    flex-direction: column;
}
.M{
    border: 0;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 30px;
    color: #415094;
    background: transparent;
    border: 1px solid #EAF0F4;
    padding-left: 25px;
    padding-right: 47px;
    border-radius: 4px;
    height: 32px;
    line-height: 31px;
    font-size: 12px;
    text-transform: capitalize;
    margin-right: 5px; 
}
.L{
    border: 0;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 30px;
    color: #415094;
    background: transparent;
    border: 1px solid #EAF0F4;
    padding-left: 25px;
    padding-right: 47px;
    border-radius: 4px;
    height: 32px;
    line-height: 31px;
    font-size: 12px;
    text-transform: capitalize;
}
.income{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    height: calc(100% - 30px);
    position: relative;
    box-sizing: border-box;
}
.IB{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4D4F5C;
    line-height: 1.2;
}
.expenses{
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    box-sizing: border-box;
    padding-left: 15px;
}
.EB{
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4D4F5C;
    line-height: 1.2;
}
