*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: "Muli", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: #F7FAFF;

}
.main{
    width: 100%;
    height: 100%;
    padding-top: 0px ;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: 25% 75%;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}
.sidebar{
    grid-area: sidebar;
}
.logo{
    margin: 30px;
    background: #fff;
    padding: 33px 30px;
    border-radius: 7px;
    justify-content: space-between;
}
.menu{
    box-sizing: border-box;
    list-style: none;
    text-align: left;
    padding: 0%;
    color: #676B84;
    padding-left: 25px;
}
.dashboard{
    font-size: 15px;
    font-weight: bold;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
}
.sublist{
   padding:0px 0px 0px 70px;
   margin: 0;
   list-style-type: none;
   font-size: 14px;
   font-weight: 400;
   line-height: 1.5;
}
.pages{
    font-size: 15px;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    font-weight: bold;
}
.applications{
    font-size: 15px;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    font-weight: bold;  
}
.UI{
    font-size: 15px;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    font-weight: bold;  
}
.widgets{
    font-size: 15px;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    font-weight: bold;  
}
.forms{
    font-size: 15px;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    font-weight: bold;  
}
.charts{
    font-size: 15px;
    color: #676B84;
    padding: 15px 25px 15px 30px;
    display: grid;
    grid-template-columns: 26px auto;
    grid-gap: 15px;
    align-items: center;
    font-weight: bold;  
}
.header{
    padding-right: 15px;
    width: 100%;
    display: flex;
    grid-area: header;
    background-color: #fff;
    border-radius: 7px;
    align-items: center;
    justify-content: space-between;

}
.search{
    width: 480px;
    height: 60px;
    font-size: 14px;
}
input{
    color: #000;
    font-size: 18px;
    height: 60px;
    width: 100%;
    padding-left: 82px;
    border: 0;
    padding-right: 15px;
    background: #F7FAFF;
    border-radius: 30px;
    font-family: inherit;
    font-weight: 500;
    text-align: start;
}

.msg{
    margin-right: 50px;
    margin-left: 40px;
}
.avatar{

    max-width: 77px;
    max-height: 77px;
    border-radius: 50%;
    border: 2px solid #A5ADC6;
}
.profile{
    align-items: center;
    justify-content: space-between;
    display: flex;

}
.content{
    margin: 30px;
    grid-area: content;

}
.box{
    max-width: 100%;
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;
    margin-bottom: 50px;
}
.Dblue{
    background-color: #fff;
    border-radius: 10px;
    padding: 41px 30px;
    position: relative;
    background: #3B76EF;
    
}
.TI{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
    font-family: "Muli", sans-serif;
    line-height: 1.2;
}
.D1{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;
}
.S1{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0px;
    font-family: "Muli", sans-serif;
    font-weight: 300;
}
.Lblue{
    background: #63C7FF;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
}
.TE{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
}
.D2{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;  
}
.S2{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.purple{
    background: #A66DD4;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
}
.CH{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
}
.D3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;  
}
.S3{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.green{
    background: #6DD4B1;
    border-radius: 10px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    padding: 41px 30px;
    position: relative;
}
.NM{
    font-size: 17px;
    margin-bottom: 0;
    font-weight: 700;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 12px;
}
.D4{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 0;
    font-weight: 900;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    color: #fff;
    margin-bottom: 7px;   
}
.S4{
    -webkit-transition: 0.5s;
    transition: 0.5s;
    font-size: 13px;
    font-weight: 400;
    color: #fff;
}
.left{
    max-width: 50%;
    padding: 30px;
    background-color: rgba(247, 250, 255, 0.7);
    border-radius: 7px;
    grid-area: left;
}

.AP{
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4D4F5C;
}
.A{
    font-size: 12px;
    font-weight: 400;
    color: #A3A0FB;
    margin-top: 6px;

}
.M{
    border: 0;
    color: #415094;
    border: 1px solid #EAF0F4;
    padding-left: 25px;
    padding-right: 47px;
    border-radius: 4px;
    height: 32px;
    line-height: 31px;
    font-size: 12px;
}
.L{
    border: 0;
    border-radius: 0px;
    padding-left: 0;
    padding-right: 30px;
    color: #415094;
    background: transparent;
    border: 1px solid #EAF0F4;
    padding-left: 25px;
    padding-right: 47px;
    border-radius: 4px;
    height: 32px;
    line-height: 31px;
    font-size: 12px;
}

.IB{
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4D4F5C;
    line-height: 1.2;
}

.EB{
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 50px;
    align-items: center;
    font-family: "Muli", sans-serif;
    font-weight: 700;
    font-size: 20px;
    color: #4D4F5C;
    line-height: 1.2;
}
.down{
    display: grid;
    grid-template-areas:
    "left right";
}

.right{
    grid-area: right;
    display: flex;
    flex-direction: row;
}
.income{
    grid-area: income;
}

.text{
    display: flex ;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 25px;
    align-items: center;
    box-sizing: border-box;
    width: 650px;
}
.ML{
    display: flex;
}