*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    height: 100%;
    width: 100%;
    font-family: "Muli", sans-serif;
    padding: 0;
    margin: 0;
    font-size: 14px;
    background: #F7FAFF;

}
.main{
    width: 100%;
    padding-top: 0px ;
    padding-bottom: 160px;
    display: grid;
    grid-template-columns: 20vw 80vw;
    grid-template-rows: 1fr 3fr;
    grid-template-areas: 
    "sidebar header"
    "sidebar content";
}